<!DOCTYPE html>
<html>
<head>
    <title>Friends</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
    <!--<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon"/>-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-6'>
                <h2>Welcome, {{request.session.first_name}}!</h2>
            </div>
            <div class='col-sm-1 col-sm-offset-4'>
                <h5><a href='/logout'>Logout</a></h5>
            </div>
        </div>
        {% if friends%}
            <h3>Here is the list of your friends:</h3>
        {% else %}
            <h3>You have no friends</h3>
        {% endif %}
        <div class='row'>
            <div class='col-sm-7'>
                <div class="container">

                    <table class="table table-striped">

                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created_at</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                    {% for user in friends %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td><a href="/{{user.id}}"> {{user.first_name}} {{user.last_name}}</a></td>
                            <td>{{user.email}}</td>
                            <td>{{user.created_at}}</td>
                            <td><a href="/{{user.id}}">Show</a> |  |<a href="/{{user.id}}/unfriend">Unfriend</a> </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div><br><br><br>
        <div>
        <div class='row'>
            <div class='col-sm-7'>
        <h3>Other Users not on your friend's list:</h3>
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-7'>
                <div class="container">

                    <table class="table table-striped">

                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created_at</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                    {% for user in nonfriends %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td><a href="/{{user.id}}"> {{user.first_name}} {{user.last_name}}</a></td>
                            <td>{{user.email}}</td>
                            <td>{{user.created_at}}</td>
                            <td><a href="/{{user.id}}">Show</a> |  |<a href="/{{user.id}}/friend">Friend</a> </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
    </div>
</body>
</html>